
  <div class="row">
    <div class="col-sm-6 col-md-4">

      <%= form_for(@user) do |f| %>

        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@user.errors.count, "error") %>:</h4>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :username, class: "sr-only" %></br>
          <%= f.text_field :username, class: "form-control", placeholder: t('activerecord.attributes.user.username') %>
        </div>
        <div class="form-group">
          <%= f.label :first_name, class: "sr-only" %></br>
          <%= f.text_field :first_name, class: "form-control", placeholder: t('activerecord.attributes.user.first_name') %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "sr-only" %></br>
          <%= f.text_field :last_name, class: "form-control", placeholder: t('activerecord.attributes.user.last_name') %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "sr-only" %></br>
          <%= f.text_field :email, class: "form-control", placeholder: t('activerecord.attributes.user.email') %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "sr-only" %></br>
          <%= f.password_field :password, class: "form-control", placeholder: t('activerecord.attributes.user.password') %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: "sr-only" %></br>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('activerecord.attributes.user.password_confirmation') %>
        </div>
        <div class="form-group">
          <%= f.label :is_admin%>
          <%= f.check_box :is_admin%>
        </div>

        <%= f.submit t('forms.buttons.submit'), class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
