<hr class="top-divider">

<div class="row">
	<div class="col-lg-12">
	  <h2><%= t('contacts.index.title')%></h2>
	</div>
</div>

<hr class="center-divider"/>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <address>
        <a href="mailto:<%= APP_CONFIG['contact_email'] %>"><%= APP_CONFIG['contact_name'] %></a>.<br> 
        <%= APP_CONFIG['contact_cell_number'] %><br>
        <%= APP_CONFIG['contact_city'] %>, <%= APP_CONFIG['contact_state'] %><br>
        <%= APP_CONFIG['contact_country'] %>
      </address>
    </div>
  </div>
</div>